<div class="container">
    <header>
        {{ page.header }}
        <nav>
            {{ page.menu_bar }}
        </nav>
    </header>

    <div class="row">
        <div class="col-sm-8">
            {{ page.content }}
        </div>
        <div class="col-sm-4">
            {{ page.sidebar }}
        </div>
    </div>

    <footer>
        {{ page.footer }}
    </footer>
</div>