<article>
    <header>
        {{ title_prefix }}
        <h2{{ title_attributes.addClass('node__title') }}>
            NEWS: <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>

        {{ title_suffix }}
        {% if display_submitted %}
            <div class="node__meta">
                {{ author_picture }}
                <span{{ author_attributes }}>
          {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        </span>
                {{ metadata }}
            </div>
        {% endif %}
    </header>
    <div{{ content_attributes.addClass('node__content', 'clearfix') }}>

        <ul>
            <li>
                {{ render_image(node, 'field_image') }} {# dependencies: Custom twig extensions module. #}
                <img src="{{ render_image(node, 'field_image', 'small') }}"> {# dependencies: Custom twig extensions module. #}
            </li>
            <li>
                {{ node.field_teaser.value|customtwigfilter }} {# dependencies: Custom twig extensions module. #}
            </li>
            <li>
                {{ node.field_teaser.value }}
            </li>
            <li>
                {{ node.field_content.value|raw }}
            </li>
            <li>
                {{ file_url(node.field_image.entity.uri.value) }}
            </li>
            <li>
                <a href="{{ path('entity.node.canonical', {'node': node.id}) }}">
                    <img src="{{ file_url(node.field_image.entity.uri.value) }}" alt="{{ node.field_image.alt }}">
                    {{ 'View node page'|t }}
                </a>
            </li>
        </ul>

    </div>
</article>
