<article>
    <header>
        {{ title_prefix }}
        <h2{{ title_attributes.addClass('node__title') }}>
            NEWS: <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>

        {{ title_suffix }}
        {% if display_submitted %}
            <div class="node__meta">
                {{ author_picture }}
                <span{{ author_attributes }}>
          {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        </span>
                {{ metadata }}
            </div>
        {% endif %}
    </header>
    <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
        {{ content|without('comment', 'links') }}
    </div>
</article>
